<template>
<div class="container" :class="{brother, dead}" :style="{transform: `translate(${offset.x}, ${offset.y})`}">
  <div class="face"></div>
  <div class="red hat1"></div>
  <div class="red hat2"></div>
  <div class="skin head"></div>
  <div class="skin nose"></div>
  <div class="skin snoot"></div>
  <div class="black eye"></div>
  <div class="black mustache1"></div>
  <div class="black mustache2"></div>
  <div class="skin chin"></div>
  <div class="brown hair1"></div>
  <div class="brown hair2"></div>
  <div class="brown hair3"></div>
  <div class="brown hair4"></div>
  <div class="brown hair5"></div>
  <div class="skin hands"></div>
  <div class="red torso"></div>
  <div class="red sleeves1"></div>
  <div class="red sleeves2"></div>
  <div class="red sleeves3"></div>
  <div class="blue waist"></div>
  <div class="blue pant1"></div>
  <div class="blue pant2"></div>
  <div class="blue left-brace"></div>
  <div class="blue right-brace"></div>
  <div class="blue brace-between"></div>
  <div class="yellow left-button"></div>
  <div class="yellow right-button"></div>
  <div class="brown left-shoe1"></div>
  <div class="brown left-shoe2"></div>
  <div class="brown right-shoe1"></div>
  <div class="brown right-shoe2"></div>
</div>
</template>

<script>
export default {
  props: {
    brother: Boolean,
    coordinates: Object,
    dead: Boolean
  },

  data() {
    return {
      base: 20
    };
  },
  computed: {
    offset() {
      let { x, y } = this.coordinates;
      x = x * (window.innerWidth / this.base);
      y = y * (window.innerHeight / this.base);
      return { x: `${x}px`, y: `${y}px` };
    }
  },
  mounted() {
    console.log(this.coordinates);
  }
};
</script>

<style lang="scss">
.container {
  position: absolute;
  display: grid;
  width: 130px;
  height: 180px;
  padding: 20px;
  grid-template-columns: repeat(13, 10px);
  grid-template-rows: repeat(17, 10px);
  bottom: 6vw;
  left: 0;
  transition: all 500ms ease;
  &.brother {
    filter: hue-rotate(255deg);
  }
  &.dead {
    bottom: -30vw;
  }
}

.face {
  position: absolute;
  background-image: url(https://previews.dropbox.com/p/thumb/AAJK6SNU2O3HCRSgSYsPanORkjQMZ0TymPUXEu540U0qAd0WFh-TvA7Ycw8rfKJuxt9yzKjFrjeMT-CzXP9GIsnhegJlwa-jyKNAucZnQu9BFuiZRV7EVAS9HIpARnepainvl_n8ghw_5mIroGUfI1nqUiuYxNa74lUywn56AoLZtgELAVVb0KhttZ_sjc2c5yeCbU5SKx92Abn26P_HQfLdLElX0EPK16Br1ipm66M6OA/p.png);
  background-size: 100% 100%;
  height: 85px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  top: 22px;
  transition: all;
}

.red {
  background: #fe0002;
}

.brown {
  background: #6a0400;
}

.skin {
  background: #ffd987;
}

.black {
  background: #000000;
}

.blue {
  background: #0001fc;
}

.yellow {
  background: #ffff00;
}

.hat1 {
  grid-row: 2 / span 1;
  grid-column: 4 / span 6;
  z-index: 10;
}

.hat2 {
  grid-row: 3 / span 1;
  grid-column: 3 / span 10;
  z-index: 10;
}

.head {
  grid-row: 4 / span 5;
  grid-column: 3 / span 8;
}

.nose {
  grid-row: 5 / span 2;
  grid-column: 11 / span 2;
}

.snoot {
  grid-row: 6 / span 1;
  grid-column: 13 / span 1;
}

.eye {
  grid-row: 4 / span 2;
  grid-column: 9 / span 1;
}
.mustache1 {
  grid-row: 7 / span 1;
  grid-column: 9 / span 4;
}
.mustache2 {
  grid-row: 6 / span 1;
  grid-column: 10 / span 1;
}

.chin {
  grid-row: 8 / span 1;
  grid-column: 11 / span 1;
}

.hair1 {
  grid-row: 4 / span 1;
  grid-column: 3 / span 3;
}

.hair2 {
  grid-row: 5 / span 3;
  grid-column: 2 / span 1;
}

.hair3 {
  grid-row: 5 / span 2;
  grid-column: 4 / span 1;
}

.hair4 {
  grid-row: 6 / span 1;
  grid-column: 5 / span 1;
}

.hair5 {
  grid-row: 7 / span 1;
  grid-column: 3 / span 1;
}

.torso {
  grid-row: 9 / span 4;
  grid-column: 3 / span 7;
}

.sleeves1 {
  grid-row: 10 / span 1;
  grid-column: 2 / span 10;
}

.sleeves2 {
  grid-row: 11 / span 1;
  grid-column: 1 / span 12;
}

.sleeves3 {
  grid-row: 12 / span 1;
  grid-column: 10 / span 1;
}

.hands {
  grid-row: 12 / span 3;
  grid-column: 1 / span 12;
}

.waist {
  grid-row: 12 / span 3;
  grid-column: 4 / span 6;
}

.pant1 {
  grid-row: 14 / span 2;
  grid-column: 8 / span 3;
}

.pant2 {
  grid-row: 14 / span 2;
  grid-column: 3 / span 3;
}

.left-shoe1 {
  grid-row: 16 / span 2;
  grid-column: 2 / span 3;
}

.left-shoe2 {
  grid-row: 17 / span 1;
  grid-column: 1 / span 1;
}

.right-shoe1 {
  grid-row: 16 / span 2;
  grid-column: 9 / span 3;
}

.right-shoe2 {
  grid-row: 17 / span 1;
  grid-column: 12 / span 1;
}

.left-brace {
  grid-row: 9 / span 3;
  grid-column: 5 / span 1;
}

.right-brace {
  grid-row: 10 / span 2;
  grid-column: 8 / span 1;
}

.brace-between {
  grid-row: 11 / span 1;
  grid-column: 5 / span 4;
}

.left-button {
  grid-row: 12 / span 1;
  grid-column: 5 / span 1;
}

.right-button {
  grid-row: 12 / span 1;
  grid-column: 8 / span 1;
}
</style>
