<template>
  <main id="character-select" v-if="!chosen">
    <img src="https://fontmeme.com/permalink/180823/562ff14fb5f9b45f3ad83f031ce41749.png">
    <div class="choices">
      <h2>Choose your character</h2>
      <a @click="choose('xanio')">Xanio</a>
      <a @click="choose('xuigi')">Xanio's brother</a>
    </div>
  </main>
</template>
<script>
export default {
  data: () => ({
    chosen: false,
  }),
  methods: {
    choose(character) {
      this.chosen = true
      this.$store.state.character = character
    },
  },
}
</script>
<style lang="scss" scoped>
#character-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: green;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  img {
    max-width: 60vw;
  }
  .choices {
  }
  h2 {
    display: block;
    font-size: 2rem;
    text-align: center;
    font-family: cursive;
  }
  a {
    display: block;
    cursor: pointer;
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid #000;
    text-align: center;
    border-radius: 0.5rem;
    font-family: cursive;
    &:hover {
      background: red;
    }
  }
}
</style>
