<template>
  <div id="game-over">
    <img src="https://fontmeme.com/permalink/180823/6385f722db95752419b369f85b4d6564.png" alt="Game over you loser">
    <p>Points: {{ points }}</p>
    <a href="./">Reset</a>
  </div>
</template>
<script>
export default {
  props: {
    points: {
      required: true,
      type: Number,
    },
  },
}
</script>
<style lang="scss" scoped>
#game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: yellow;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    animation: slide-up 1s 1;
  }
  p {
    font-family: monospace;
    font-size: 3rem;
    margin: 1rem auto;
  }
}

@keyframes slide-up {
  0% {
    transform: translate(10rem);
  }
}
</style>
