<template>
  <div class="game-wrapper">
    <character-select></character-select>

    <div class="points">{{ points }} Points</div>

    <div class="terrain-wrapper">

      <div class="block-wrapper">
        <terrain v-for="(block, index) in blocks" :key="index" :type="block.type" :position="coordinates"></terrain>
      </div>
    </div>

    <marquee>
      <img src="https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Cloud-PNG/Cloud_PNG_Clip-Art_Image.png?m=1461639301" alt="Cloud">
    </marquee>
    <aye-xanio :brother="character === 'xuigi'" :coordinates="coordinates" :dead="dead"></aye-xanio>
    <audio src="https://dl-web.dropbox.com/get/Public/xanio.mp3?_subject_uid=107335337&duc_id=dropbox_duc_id&w=AAD3P-BHrZZkT7MiaNrhdwJKdKB9PsM1OISTSlAlDj-15A" autoplay loop/>

    <game-over :points="points" v-if="failed"></game-over>
    
  </div>
</template>
<script>
// Components
import characterSelect from './CharacterSelect.vue'
import AyeXanio from './AyeXanio.vue'
import terrain from './Terrain.vue'
import gameOver from './GameOver.vue'

import { mapGetters } from 'vuex'
export default {
  components: {
    terrain,
    characterSelect,
    AyeXanio,
    gameOver,
  },
  data: () => ({
    points: 0,
    failed: false,
    jumping: false,
    coordinates: {
      x: 0,
      y: 1,
    },
    types: ['grass', 'lava', 'null', 'brick', 'ice', 'desert'],
    blocks: [
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: 1,
        type: 'grass',
      },
      {
        y: -1,
        type: 'null',
      },
      {
        y: -1,
        type: 'null',
      },
      {
        y: 1,
        type: 'grass',
      },
    ],
  }),
  computed: {
    ...mapGetters({
      character: 'character',
    }),
    currentBlock() {
      if (this.jumping) {
        return {
          x: this.coordinates.x,
          y: this.coordinates.y,
          type: this.blocks[this.coordinates.x],
        }
      }

      return this.blocks[this.coordinates.x]
        ? this.blocks[this.coordinates.x]
        : null
    },
    dead() {
      if (this.jumping) return false

      if (!this.currentBlock || this.currentBlock.y < 1) {
        setTimeout(() => {
          this.failed = true
        }, 2000)

        return true
      }
      return false
    },
  },
  methods: {
    jump() {
      if (this.jumping) return

      this.jumping = true

      let zenith = false

      const initial = this.currentBlock.y

      const interval = setInterval(() => {
        const baseline = this.currentBlock.y

        if (this.coordinates.y >= initial - 7 && !zenith) {
          this.coordinates.y -= 1
        } else {
          zenith = true
          this.coordinates.y += 2
        }

        if (this.coordinates.y >= baseline) {
          this.coordinates.y = baseline
          this.jumping = false
          return clearInterval(interval)
        }
      }, 80)
    },
    generate(blocks) {
      this.blocks = []

      for (let index = 0; index < blocks; index++) {
        if (index === 0) {
          this.blocks.push({
            type: 'grass',
            y: this.rand(1, 5),
          })
        } else {
          const past = this.blocks[index - 1]
          const block = this.blocks

          this.blocks.push({
            y: this.rand(1, 7) === 1 ? -1 : this.rand(1, 5),
            type: this.types[this.rand(0, this.types.length - 1)],
          })
        }
      }
    },
    rand: (min, max) => Math.floor(Math.random() * max + min),
  },
  mounted() {
    this.generate(200)

    document.addEventListener('keydown', e => {
      const codes = [37, 38, 39, 40, 81]

      if (!codes.includes(e.keyCode)) {
        return
      }

      // Left
      if (e.keyCode === 37) {
        this.coordinates.x--
      }

      if (e.keyCode === 39) {
        this.coordinates.x++
        this.points++
      }

      if (e.keyCode === 38) {
        this.jump()
      }
    })
  },
}
</script>
<style lang="scss" scoped>
.game-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.terrain-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  background: lightblue;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  .block-wrapper {
    width: 100%;
    display: flex;
  }
}
marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  img {
    max-width: 20rem;
    height: auto;
  }
}
.points {
  position: absolute;
  top: 2.5vw;
  left: 2.5vw;
  z-index: 2;
  font-family: cursive;
  font-size: 2rem;
}
</style>
