<template>
  <div class="terrain-block" :class="`${type}-block`" :style="{ transform : `translateY(${offset.y})` }"></div>
</template>
<script>
export default {
  props: {
    type: {
      required: true,
      type: String,
    },
    position: {
      type: Object,
      required: true,
    },
  },
  computed: {
    offset() {
      return {
        y: this.position.y * (window.innerHeight / this.base) + 'px',
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.terrain-block {
  width: 5vw;
  height: 5vw;
  flex-shrink: 0;
  position: relative;
  &.grass-block {
    background: green;
  }
  &.lava-block,
  &.brick-block {
    background: red;
  }
  &.ice-block {
    background: lightblue;
  }
  &.desert-block {
    background: sandybrown;
  }
}
</style>

