<template>
  <div id="app" :class="{ yay: xan }">
    <template class="intro" v-if="!hidden">
      <h1 class="title">{{ isXanPresent }}</h1>
      <button @click="handleXanPresentSwitch">Press Me</button>
      <button @click="hidden = true">Engage</button>
    </template>

    <super-xanio-world v-else></super-xanio-world>
  </div>
</template>

<script>
import superXanioWorld from './components/SuperXanioWorld.vue'

export default {
  name: 'app',
  components: {
    superXanioWorld,
  },
  data() {
    return {
      xan: false,
      hidden: true,
    }
  },
  computed: {
    isXanPresent() {
      return this.xan ? '¡¡Party!!' : 'No party'
    },
  },
  methods: {
    handleXanPresentSwitch() {
      this.xan = !this.xan
    },
  },
}
</script>

<style lang="scss">
@import 'styles/reset';
@import 'styles/variables';

body {
  font-family: system-ui;
}

h1 {
  font-family: 'Input Mono', monospace;
  font-size: 3rem;
  color: black;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

button {
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white;
  mix-blend-mode: difference;
  cursor: pointer;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.yay {
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  h1 {
    color: white;
  }
  button {
    border-color: transparent;
  }
}

.title {
  margin-bottom: 3rem;
}
</style>
